
    <!--contain-->
    <div class="container">
        <h1 class="text-center">Inspiring Quotes</h1>
    </div>
    <div class="container">
        <div class="row destacados">
            {{#each emotions}}
            <div class="col-md-3">
                <a href="/task1?title={{title}}">
                    <img src={{imagePath }} alt={{title}} class="img-circle img-thumbnail">
                    <h2>{{title}}</h2>
                </a>
            </div>
            {{/each}}
           <!-- <div class="col-md-3">
                <a href="">
                    <img src="./images/task1/sad.jpeg" alt="sad" class="img-circle img-thumbnail">
                    <h2>sad</h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="">
                    <img src="./images/task1/stress.jpeg" alt="stress" class="img-circle img-thumbnail">
                    <h2>stress</h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="">
                    <img src="./images/task1/angry.jpeg" alt="angry" class="img-circle img-thumbnail">
                    <h2>angry</h2>
                </a>
            </div>
            -->
        </div>
        <div class="row text-center">
            <img class="img-thumbnail" src="{{quotePath}}" />
        </div> 
    </div>
    <!--/contain-->
